#loader {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: #1a3251;
  z-index: 10;
}
#loader.loaded {
  animation: loader-out 0.3s both;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #f9f9f9 #f9f9f9 transparent transparent;
  scale: 1.5;
  animation: rotation 1s linear infinite;
  &::before {
    width: 32px;
    height: 32px;
    border-color: #f9f9f9 #f9f9f9 transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid;
    border-color: transparent transparent #3f76bd #3f76bd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform-origin: center center;
    animation: rotationBack 0.5s linear infinite;
  }
}
@keyframes rotation {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes rotationBack {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}

@keyframes loader-out {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
